Flask
flask-cors
langchain
langchain-core
langchain-community
google-generativeai
faiss-cpu
python-dotenv
sentence-transformers
langgraph
langchain-google-genai
google-genai
dotenv
torch
ultralytics
supervision
